# IDE/System based files and folders #
.buildpath
.project
.settings
.DS_Store
.idea

# Ignore everything by default then whitelist paths
/administrator/*
!/administrator/components
/administrator/components/*
!/administrator/components/com_code
!/administrator/components/com_ghmarkdowndisplay
!/administrator/components/com_trackerstats
/bin
/build
/cache
/cgi-bin
/cli/*
!/cli/sql
!/cli/code.php
/cms-coverage
!/components
/components/*
!/components/com_code
!/components/com_ghmarkdowndisplay
!/components/com_trackerstats
/glip/*
!/glip/jenkins.php
/icomoon
/images
/includes
/language
/layouts
/libraries
/manual
/media/*
!/media/com_code
!/media/com_ghmarkdowndisplay
!/media/com_trackerstats
!/media/mod_joomladata
/modules/*
!/modules/mod_joomladata
/nightlies
/plugins/*
!/plugins/finder
/plugins/finder/*
!/plugins/finder/tracker_issues
!/plugins/content
/plugins/content/*
!/plugins/content/nightlybuilds
!/plugins/system
/plugins/system/*
!/plugins/system/devrouting
/pulls
/standards
/templates/*
!/templates/joomla/
/templates/joomla/*
!/templates/joomla/css/
/templates/joomla/css/*
!/templates/joomla/css/custom.css
!/templates/joomla/css/github-light.css
!/templates/joomla/html/
/templates/joomla/html/*
!/templates/joomla/html/com_contact/
!/templates/joomla/html/com_finder/
!/templates/joomla/html/com_jmarkdown/
!/templates/joomla/html/mod_articles_latest/
!/templates/joomla/html/mod_breadcrumbs/
/tests
/tmp
/xsd
/.travis.yml
/CONTRIBUTING.md
/LICENSE.txt
/README.txt
/build.xml
/configuration.php
/htaccess.txt
/index.php
/phpunit.xml.dist
/phpunit.xml
/robots.txt
/robots.txt.dist
/travisci-phpunit.xml
/web.config.txt
