# IDE/System based files and folders #
.buildpath
.project
.settings
.DS_Store
.idea

# Ignore everything by default then whitelist paths
/administrator/*
!/administrator/components
/administrator/components/*
!/administrator/components/com_code
!/administrator/components/com_trackerstats
/bin
/build
/cache
/cgi-bin
/cli/*
!/cli/sql
!/cli/code.php
/cms-coverage
/cms-packages
!/components
/components/*
!/components/com_code
!/components/com_trackerstats
/images
/includes
/language
/layouts
/libraries
/log
/logs
/manual
/media/*
!/media/com_code
!/media/com_trackerstats
/modules
/nightlies
/plugins/*
!/plugins/finder
/plugins/finder/*
!/plugins/finder/tracker_issues
!/plugins/content
/plugins/content/*
!/plugins/content/plg_content_nightlybuilds
/pulls
/standards
/templates
/tests
/tmp
/vb
/xsd
/.htaccess
/.travis.yml
/CONTRIBUTING.md
/LICENSE.txt
/README.txt
/build.xml
/configuration.php
/htaccess.txt
/index.php
/phpunit.xml.dist
/phpunit.xml
/robots.txt
/robots.txt.dist
/travisci-phpunit.xml
/web.config.txt
